*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: green;
}
.converter{
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 15px solid rgb(255, 255, 255);
  gap: 100px;
  
  
}
.temp-head{
  color: greenyellow;
  display: flex;
  justify-content: center;
}
.temp-head h2{
  
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Righteous', cursive;
}
.enter-value{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
#font{
  font-family: 'Lilita One', cursive;
  color: yellow;
}
.convert{
  
  display: flex;
  justify-content: center;
  gap: 100px;
}
.h-in{
  font-size: 40px;
  font-weight: bold;
}

#temperature{
  width: 300px;
  height: 50px;
}

.input input{
  width: 300px ;
  height: 40px ;
  border: 4px solid black;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: larger;
  color: rgb(0, 0, 0);
  
  
}
.CelToFar button{
  
  height: 50px;
  width: 300px;
  font-weight: 900;
  font-size: 25px;
  background-color: blue;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: name;
}
.CelToFar:hover{
  scale: 1.1;
  transition-duration: 0.5s;
}
.FarToCel button{
  
  font-weight: 900;
  font-size: 25px;
  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: blue;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all;
}
.FarToCel:hover{
  scale: 1.1;
  transition-duration: 0.5s;
}
.TEMP{
  
  font-size: 40px;
  font-weight: bold;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#result{
  font-family: 'Raleway', sans-serif;
}
.Result{
  
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 40px ;
}
.display-result{
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  color: white;
}
